body{
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

header nav a.logo-main{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}
header nav a span.logo-span{
    color: #2e2f42;
}
header nav ul li a.nav-links{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
header nav ul li a.nav-links:hover{
    color: #404bbf;
}
header address.adresler{
    font-style: normal;
}
header address ul li a.info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
header address ul li a.info:hover{
    color: #404bbf;
}

main .section-one{
    background-color: #2e2f42;
}
main .section-one h1.title-one{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
main .section-one button.order-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
main .section-one button.order-button:hover{
    background-color: #404BBF;
}
main .section-two h2{
    
}
main .section-two ul li h3.teammate{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
main .section-two ul li h3.job{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;   
}